---
---

@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
}

body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
	background: #fff;
	transition: 3s;
}

/*
*********************
Global variables
*********************
*/

$frameborder: 52px;

/* colors */
$black: #1b1b1b;
$yellow: #ffcb00;
$yellowHover: #e2b500;

/*
*********************
Frame & container
*********************
*/

$menu-transition: 0.6s;

.main-head, .content, .main-footer {
	margin: 0 $frameborder;
}

.main-head, .main-footer {
	height: $frameborder;
}

.main-head {
    grid-area: header;
    position: sticky;
    top: 0;
	background-color: white;
	z-index: 500;
	transition: 3s;
}

.content {
	grid-area: content;
    background-color: #ccc;
}

.main-footer {
    grid-area: footer;
    position: sticky;
    bottom: 0;
	background-color: white;
	transition: 3s;
}

.wrapper {
	display: grid;
	grid-gap: 0;
	grid-template-areas: 
	  "header"
	  "content"
	  "footer";
}

.onBodyColorChange {
	background: #e5e5e5;
}

/********
Hamburger button
********/

.nav-items ul {
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin: 18px 52px;
	width: 100%;
	padding: 0;

	li > a {
		color: $black;
	}
}

.nav-btn {
	// display: inline-block;
	cursor: pointer;
	margin: 16px 0;;
	float: left;
}

.bar1, .bar2, .bar3 {
    width: 43px;
    height: 4px;
    background-color: $black;
    transition: $menu-transition;
}

.bar1 {
    margin-bottom: 5px;
}

.bar2 {
	margin-top: 5px;
    margin-bottom: 5px;
}

.bar3 {
    margin-top: 5px;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-7px, 6px) ;
    transform: rotate(-45deg) translate(-7px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-7px, -5px) ;
    transform: rotate(45deg) translate(-7px, -5px) ;
}

/********
Nav-bar
********/

.nav-items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: auto;
	align-items: center;
	text-align: center;
	transition: $menu-transition;

	.item {
		grid-column: 1;
	}
}

/********
Turpial Logo
********/

.nav-logo img {
    width: $frameborder;
    height: auto;
    padding: 7.7px 0;
	float: right;
	transition: 3s;
}

.grayScale {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

/********
Home Page
********/

@keyframes hiden {
	0% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes typing { from { width: 0; } }
@keyframes blink-caret { 50% { border-right: 3px solid #fff; } }

#home {
    height: calc(100vh - 208px);
    padding: $frameborder;
	background: #686868;
    background-image: none;
    background-size: auto auto;
	background-image: url('/img/bg-home.jpg');
	background-size: cover;
	background-blend-mode: multiply;
	
	.call-to-action-footer {
		width: calc(100vw - 222px);
		text-align: right;
		position: absolute;
		bottom: 107px;

		a {
			background-color: $yellow;
			padding: 9px 12px;
			font-size: 14px;
			letter-spacing: 1px;
			border: none;
			color: $black;
			&:hover {
				background-color: $yellowHover;
			}
		}
	}

    .title {
        color: #fff;
        font-family: 'Courier New', Courier, monospace;
        font-size: 96px;
        font-weight: lighter;
        letter-spacing: -0.7px;
    
        h2.typing-line-1 {
            margin: 0;
			border-color: transparent;
            width: 345px;
            white-space: nowrap;
            overflow: hidden;
			-webkit-animation:
				typing 1s steps(6, end),
				blink-caret 1s step-end
        }
        h2.typing-line-2 {
			margin: 0;
            border-color: transparent;
            width: 752px;
            white-space: nowrap;
            overflow: hidden;
			-webkit-animation:
				hiden 1.4s ease,
				typing 2.2s steps(13, end) 1.4s,
                blink-caret 1s step-end infinite 1s
        }
	}

	@keyframes slogan-trans {
		0% { opacity: 0; }
		80% { opacity: 0; }
		100% { opacity: 1; }
	}
	
	.slogan {
		h4 {
			font-family: 'Courier New', Courier, monospace;
			font-size: 32px;
			font-weight: lighter;
			letter-spacing: -0.2px;
			color: #ffffff;
			-webkit-animation: slogan-trans 4.5s ease,
		}
	}

	.call-to-action-btns {
		margin-top: 35px;
		a {
			display: inline-block;
			position: relative;
			height: 150px;
			width: 150px;
			background-color: rgba(174, 174, 174, 0.6);
			margin-right: 30px;
			text-align: center;
			img {
				max-height: 32px;
				max-width: 32px;
				margin-top: 43px;
				margin-bottom: 24px;
				transition: .2s;
			}
			p {
				margin: 0;
				color: #fff;
				font-size: 16x;
				letter-spacing: -0.1px;
			}
			&:hover {
				background-color: rgba(174, 174, 174, 0.8);
				img {
					margin-top: 40px;
					margin-bottom: 27px;
				}
			}
		}

		@keyframes flycont {
			0% { height: 130px; }
			90% { height: 130px; }
			100% { height: 150px; } 
		}

		@keyframes flya { 
			0% { left: -700px; }
			80% { left: -700px; }
			100% { left: 0px; } 
		}

		@keyframes flyb { 
			0% { left: -700px; }
			85% { left: -700px; }
			100% { left: 0px; } 
		}

		@keyframes flyc { 
			0% { left: -700px; }
			90% { left: -700px; }
			100% { left: 0px;  } 
		}

		.fly-a {
			-webkit-animation: flya 4s ease, flycont 4s ease,
		}
		.fly-b {
			-webkit-animation: flyb 4s ease, flycont 4s ease,
		}
		.fly-c {
			-webkit-animation: flyc 4s ease, flycont 4s ease,
		}
	}
}

/********
About Us Page
********/

#aboutus {
    height: calc(100vh - 208px);
    padding: $frameborder;
	background: #fff;
	position: relative;

	.about-content {
		border: solid 2px #cecece;
		padding: 52px;
		width: 53vw;
		border-left: 0;
		left: 0;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		
		h2 {
			color: $black;
			font-weight: 900;
			letter-spacing: -0.8px;
			text-transform: uppercase;
			font-size: 9vw;
		}

		p {
			width: 44vw;
			letter-spacing: -0.1px;
			font-size: 1.3vw;
			line-height: 1.8vw;
		}
	}

	.video-box {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 104px;
		text-align: center;

		.video-content {
			background-color: $yellow;
			padding: 16px;
			video {
				width: calc(30vw);
			}
		}

		a {
			display: inline-block;
			color: #1b1b1b;
			border: 2px solid #1b1b1b;
			padding: 8px 14px;
			margin-top: 16px;
			background-color: #fff;
		}
	}

	@media screen and (max-width: 1100px) {
		.about-content {
			width: 42vw;
			h2 {
				font-size: 8.5vw;
			}
			p {
				width: 40vw;
				font-size: 1.2vw;
				line-height: 1.7vw;
			}
		}
	}

	@media screen and (max-width: 960px) {
		.about-content {
			width: 40vw;
			h2 {
				font-size: 8vw;
			}
			p {
				width: 40vw;
				font-size: 1.1vw;
				line-height: 1.6vw;
			}
		}
		.video-box {
			right: 52px;
		}
	}

	@media screen and (max-width: 860px) {
		.about-content {
			width: 35vw;
			h2 {
				font-size: 7.5vw;
			}
		}
	}
}

/********
Contact us
********/

#contact {
	min-height: 600px;
	height: calc(100vh - 208px);
    padding: $frameborder;
	background: #1b1b1b;
    color: #fff;

	.contact-offices {
		width: 20%;
		display: inline-block;
		float: left;
	}

	.contact-title {
		width: 696px;
		height: 140px;
		transform: rotate(-360deg);
		font-family: Poppins;
		font-size: 100px;
		font-weight: 900;
		letter-spacing: -0.6px;
		text-align: left;
		color: #ffffff;
		color: var(--white);
	}

	.contact-content {
		width: 80%;
		display: inline-block;
		float: left;
	}

	.form-input {
		display: block;
		width: 100%;
		background-color: transparent;
		color: #ffffff;
		border: 1px solid #ffffff;
		height: 52px;
		font-family: Poppins;
		font-size: 20px;
		letter-spacing: -0.1px;
		margin-top: 15px;

	}

	textarea.form-input {
		height: 120px;
	}

	.form-container {
		padding: 20px;
		width: 45%;
		display: inline-block;
	}

	.form-container.text-area {
		width: 95%;
	}

	label {
		width: 96px;
		height: 32px;
		font-family: Poppins;
		font-size: 20px;
		letter-spacing: -0.1px;
	}
}

/********
Globals
********/

.center-v {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
