---
---

@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

/*
    https://github.com/google/material-design-icons/tree/master/iconfont
    material design icons
*/

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/assets/font/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(/assets/font/MaterialIcons-Regular.woff2) format('woff2'),
      url(/assets/font/MaterialIcons-Regular.woff) format('woff'),
      url(/assets/font/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

/*
    http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a, input {
    text-decoration: none;
    outline: 0;
    color: inherit;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #fff;
    transition: 3s;
}

@media screen
and (min-width: 768px) {
    /* remove tel events in desktop screen */
    a[href*="tel:"] {
        cursor: default;
        pointer-events: none;
    }
}

/*
*********************
Global variables
*********************
*/

/* minimum screen width for descktop version */
$min-width-desktop: 768px;

$frameborder: 52px;

/* colors */
$black: #1b1b1b;
$yellow: #ffcb00;
$yellowHover: #e2b500;
$lightgray: #e5e5e5;
$menu-width: 40px;
$menu-height: 50px;

/*
*********************
Frame & container
*********************
*/

$menu-transition: 0.6s;

.main-head, .content, .main-footer {
    margin: 0 $frameborder;
}

.main-head, .main-footer {
    height: $frameborder;
}

.main-head {
    grid-area: header;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 500;
    transition: 3s;
}

.content {
    grid-area: content;
    background-color: #ccc;
}

.main-footer {
    grid-area: footer;
    position: sticky;
    bottom: 0;
    background-color: white;
    transition: 3s;
}

.wrapper {
    display: grid;
    grid-gap: 0;
    grid-template-areas:
      "header"
      "content"
      "footer";
}

.onBodyColorChange {
    background: $lightgray;
}

/*
*********************
Nav-bar
*********************
*/

.nav-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    align-items: center;
    text-align: center;
    transition: $menu-transition;
    visibility: hidden;
    opacity: 1;

    .item {
        grid-column: 1;
    }

    ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin: 18px 52px;
        width: 100%;
        padding: 0;

        li > a {
            color: $black;
        }
    }
}

.showMenu {
    visibility: visible;
    opacity: 1;
}

.nav-btn {
    cursor: pointer;
    margin: 16px 0;;
    float: left;
}

/*
*********************
Hamburger button
*********************
*/

#h-menu {
    float: left;
    width: 50px;
    height: 25px;
    margin-top: 13px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#h-menu span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: $black;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#h-menu span:nth-child(1) {
    top: 0px;
}

#h-menu span:nth-child(2),#h-menu span:nth-child(3) {
    top: 10px;
}

#h-menu span:nth-child(4) {
    top: 20px;
}

#h-menu.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#h-menu.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#h-menu.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#h-menu.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

/*
*********************
Turpial Logo
*********************
*/

.nav-logo img {
    width: $frameborder;
    height: auto;
    padding: 7.7px 0;
    float: right;
    transition: 3s;
}

.grayScale {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

/*
*********************
Home Page
*********************
*/

@keyframes hiden {
    0% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes typing { from { width: 0; } }
@keyframes blink-caret { 50% { border-right: 3px solid #fff; } }

#home {
    /* For subtract border and padding to section height */
    --sub-vertival-border: 208px;
    height: calc(100vh - 190px);
    min-height: calc(55.98vw - var(--sub-vertival-border));
    padding: $frameborder;
    background: #686868;
    background-image: url('/img/bg-home.jpg');
    background-size: cover;
    background-blend-mode: multiply;

    .call-to-action-footer {
        width: calc(100vw - 222px);
        position: absolute;
        bottom: 107px;

        a {
            background-color: $yellow;
            padding: 0.625vw 0.83vw;
            font-size: 1.39vw;
            letter-spacing: 1px;
            border: none;
            color: $black;
            &:hover {
                background-color: $yellowHover;
            }
        }
    }

    .title {
        color: #fff;
        font-family: 'IBM Plex Mono', monospace;
        font-size: 7.64vw;

        h2 {
            margin: 0;
            border-color: transparent;
            white-space: nowrap;
            overflow: hidden;
        }

        h2.typing-line-1 {
            width:  26vw;
            -webkit-animation:
                typing 1s steps(6, end),
                blink-caret 1s step-end
        }
        h2.typing-line-2 {
            width: 61vw;
            -webkit-animation:
                hiden 1.4s ease,
                typing 2.2s steps(13, end) 1.4s,
                blink-caret 1s step-end infinite 1s
        }
    }

    @keyframes slogan-trans {
        0% { opacity: 0; }
        80% { opacity: 0; }
        100% { opacity: 1; }
    }

    .slogan {
        margin-top: 0.35vw;

        h4 {
            font-family: 'IBM Plex Mono', monospace;
            font-size: 2.78vw;
            letter-spacing: -0.2px;
            color: #ffffff;
            -webkit-animation: slogan-trans 4.5s ease,
        }
    }

    .call-to-action-btns {
        margin-top: 2.43vw;
        a {
            display: inline-block;
            position: relative;
            height: 10.42vw;
            width: 10.42vw;
            background-color: rgba(174, 174, 174, 0.6);
            margin-right: 2.08vw;
            text-align: center;
            img {
                max-height: 2.22vw;
                max-width: 2.22vw;
                margin-top: 2.99vw;
                margin-bottom: 1.67vw;
                transition: .2s;
            }
            p {
                margin: 0;
                color: #fff;
                font-size: 1.39vw;
            }
            &:hover {
                background-color: rgba(174, 174, 174, 0.8);
                img {
                    margin-top: 2.78vw;
                    margin-bottom: 1.875vw;
                }
            }
        }

        @keyframes flycont {
            0% { height: 9.03vw; }
            90% { height: 9.03vw; }
            100% { height: 10.42vw; }
        }

        @keyframes flya {
            0% { left: -700px; }
            80% { left: -700px; }
            100% { left: 0px; }
        }

        @keyframes flyb {
            0% { left: -700px; }
            85% { left: -700px; }
            100% { left: 0px; }
        }

        @keyframes flyc {
            0% { left: -700px; }
            90% { left: -700px; }
            100% { left: 0px;  }
        }

        .fly-a {
            -webkit-animation: flya 4s ease, flycont 4s ease,
        }
        .fly-b {
            -webkit-animation: flyb 4s ease, flycont 4s ease,
        }
        .fly-c {
            -webkit-animation: flyc 4s ease, flycont 4s ease,
        }
    }

    /* When section has scroll */
    @media screen and (max-height: 55.86vw) {
        .call-to-action-footer {
            top: 42.84vw;
            bottom: 0;
        }
        .center-v {
            top: 28.39vw;
        }
    }
}

/*
*********************
Web, Mobile and design Pages
*********************
*/

#web, #mobile, #design {
    /* For subtract border and padding to section height */
    --sub-vertival-border: 208px;

    height: calc(100vh - 140px);
    min-height: calc(65.10vw - var(--sub-vertival-border));
    padding: $frameborder;
    background: #fff;
    position: relative;

    .image {
        width: 50%;
        height: 100%;
        position: absolute;
        background-size: cover;
        background-blend-mode: multiply;
        top: 0;
    }

    .image.web {
        background-image: url('/img/StockSnap_GHIBZPY4FS.jpg');
        right: 0;
    }

    .image.mobile {
        background-image: url('/img/StockSnap_NOJRYJQXZK.jpg');
        left: 0;
    }

    .image.design {
        background-image: url('/img/StockSnap_SWRREC0K3A.jpg');
        right: 0;
    }

    .wmd-content {
        width: 50%;
        height: 100%;
        background: none;
    }

    .wmd-content.mobile {
        position: absolute;
        right: 0;
        top: 0;
    }

    .title-box {
        width: 41.875vw;
        height: 12.7vw;
        position: absolute;
        background-color: $yellow;
        top: 15vh;
        right: 40%;

        h1 {
            margin-top: 2.3vw;
            margin-left: 2.5vw;
            font-size: 7.32vw;
            font-weight: 900;
            line-height: 0.95;
        }

        h2 {
            margin-left: 2.5vw;
            font-size: 1.46vw;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    .title-box.design {
        width: 54vw;
        right: 28.1%;
    }

    .info {
        margin-top: 19.5vw;
        margin-left: 2.5vw;

        h3 {
            font-weight: bold;
            line-height: 1.1;
            margin-bottom: 1vw;
        }

        p {
            margin-right: 5.64vw;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
        }
    }

    .info.mobile {
        margin-top: 41.4vh;
        margin-left: 3.8vw;
    }

    /* When section has scroll */
    @media screen and (max-height:  64.97vw) {
        .title-box {
            top: 9.51vw !important;
        }
        .info {
            margin-top: 25.83vw !important;
        }
        .info.mobile {
            margin-top: 26.95vw !important;
        }
    }

    /* Aspect Ratio 4:3 or less, Deskctop version */
    @media screen and (max-aspect-ratio: 4/3) and (width: 768px) and (max-height: 719px) {
        .title-box {
            width: 43.875vw;
            height: 14.7vw;
            top: 14.7vh;

            h1 {
                font-size: 9vw;
            }
            h2{
                font-size: 1.5vw;
            }
        }
        .title-box.design {
            height: 12.7vw;
            h1{
                font-size: 7.3vw;
            }
        }
        .info {
            font-size: 1.5vw;
        }
    }

    @media screen and (max-aspect-ratio: 4/3) and (min-width: 768px) and (min-height: 720px) {
        .title-box {
            width: 43.875vw;
            height: 14.7vw;
            top: 14.7vh;

            h1 {
                font-size: 9vw;
            }
            h2{
                font-size: 1.7vw;
            }
        }
        .title-box.design {
            height: 12.7vw;
            h1{
                font-size: 7.3vw;
            }
        }
        .info {
            font-size: 1.7vw;
        }
    }

    @media screen and (max-aspect-ratio: 4/3) and (min-width: 768px) and (min-height: 850px) {
        .title-box {
            width: 43.875vw;
            height: 14.7vw;
            top: 14.7vh;

            h1 {
                font-size: 9vw;
            }
            h2{
                font-size: 1.9vw;
            }
        }
        .info {
            font-size: 2vw;
        }
    }

    /* Aspect Ratio 3:2 or less, Deskctop version */
    @media screen and (max-aspect-ratio: 3/2) and (min-width: 769px) and (min-height: 720px) {
        .title-box {
            width: 43.875vw;
            height: 14.7vw;
            top: 14.7vh;

            h1 {
                font-size: 9vw;
            }
            h2{
                font-size: 1.7vw;
            }
        }
        .info {
            font-size: 1.7vw;
        }
    }

    @media screen and (max-aspect-ratio: 3/2) and (min-width: 900px) and (min-height: 650px) {
        .title-box {
            width: 43.875vw;
            height: 13.7vw;
            top: 13.7vh;

            h1 {
                font-size: 8vw;
            }
            h2{
                font-size: 1.5vw;
            }
        }
        .title-box.design {
            h1{
                font-size: 7.3vw;
            }
        }
        .info {
            font-size: 1.5vw;
        }
    }

    /* Aspect Ratio 5:4 or less, Deskctop version */
    @media screen and (min-aspect-ratio: 5/4) and (min-width: 1280px) and (min-height: 832px) {
        .title-box {
            width: 43.875vw;
            height: 14vw;
            top: 13.7vh;

            h1 {
                font-size: 8.5vw;
            }
            h2{
                font-size: 1.5vw;
            }
        }
        .title-box.design {
            h1{
                font-size: 7.3vw;
            }
        }
        .info {
            margin-top: 36vh;
            font-size: 1.5vw;
        }
    }

    @media screen and (min-aspect-ratio: 5/4) and (min-width: 1280px) and (min-height: 1024px){
        .title-box {
            width: 43.875vw;
            height: 14.7vw;
            top: 14.7vh;

            h1 {
                font-size: 9vw;
            }
            h2{
                font-size: 1.7vw;
            }
        }
        .info {
            font-size: 1.7vw;
        }
    }

    @media screen and (min-aspect-ratio: 5/4) and (min-width: 1600px) and (min-height: 1040px){
        .title-box {
            width: 43.875vw;
            height: 14.7vw;
            top: 14.7vh;

            h1 {
                font-size: 9vw;
            }
            h2{
                font-size: 1.6vw;
            }
        }
        .info {
            margin-top: 38vh;
            font-size: 1.6vw;
        }
    }

    @media screen and (min-aspect-ratio: 21/9) and (min-width: 2560px) {
        .title-box {
            width: 39.875vw;
            height: 9.7vw;
            top: 12.7vh;

            h1 {
                margin-top: 1.5vw;
                font-size: 5.32vw;
            }
            h2{
                font-size: 1.3vw;
            }
        }
        .info {
            font-size: 1.3vw;
        }
    }
}

/*
*********************
About Us Page
*********************
*/

#aboutus {
    /* For subtract border and padding to section height */
    --sub-vertival-border: 208px;

    height: calc(100vh - 150px);
    min-height: calc(65.10vw - var(--sub-vertival-border));
    padding: $frameborder;
    position: relative;
    background-color: #fff;

    .about-content {
        border: solid 2px #cecece;
        width: 56vw;
        height: 58vh;
        border-left: 0;
        left: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        h2 {
            color: $black;
            font-weight: 900;
            text-transform: uppercase;
            font-size: 8vw;
            margin-top: 10vh;
            margin-left: 3vw;
        }

        p {
            width: 44vw;
            letter-spacing: -0.1px;
            font-size: 1.3vw;
            line-height: 2vw;
            margin-left: 3vw;
        }
    }

    .video-box {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 45vw;
        text-align: center;

        .video-content {
            background-color: $yellow;
            padding: 1.875vw;
            video {
                width: 30vw;
            }
        }

        a {
            display: inline-block;
            color: #1b1b1b;
            border: 2px solid #1b1b1b;
            padding: 1.6vh 1.82vw;
            margin-top: 3.2vh;
            font-size: 1.3vw;
            background-color: #fff;
        }
    }

    /* When section has scroll */
    @media screen and (max-height:  64.97vw) {
        .about-content {
            height: 43.62vw;
            h2 {
                margin-top: 9.11vw;
            }
        }
        .video-box {
            a {
                margin-top: 2.08vw;
            }
        }
    }

    @media screen and (max-width: 0px) {

    }
}

/*
*********************
Contact us
*********************
*/

#contact {
    min-height: 38.46vw;
    height: calc(100vh - 190px);
    min-height: 620px;
    padding: $frameborder;
    background: #1b1b1b;
    color: #fff;

    .contact-offices {
        width: 23%;
        height: 100%;
        position: relative;
        float: left;
        border-left: 1px solid #ffffff;
        padding-left: 1.28vw;
        line-height: 1.28vw;

        .address {
            font-size: 1.03vw;
            margin-top: 3.85vw;
            position: relative;
            p {
                margin: 5px 0;
                a:hover {
                    color: $lightgray;
                    margin-left: 2px;
                }
            }
        }

        .location {
            position: absolute;
            top: -32px;
            transition: 0.1s;
            &:hover {
                color: $yellowHover;
                top: -34px;
            }
        }

        .phones-email {
            font-size: 1.28vw;
            position: absolute;
            bottom: 0;
            line-height: 1.73vw;
            p {
                margin: 5px 0;
                a:hover {
                    color: $lightgray;
                    margin-left: 2px;
                }
            }
        }

        hr {
            width: 1.28vw;
            display: inline-block;
            position: absolute;
            left: -2.05vw;
            top: -0.38vw;
        }
    }

    .contact-title {
        display: block;
        font-size: 6vw;
        font-weight: 900;
        text-align: left;
        color: var(--white);
        margin-bottom: 18px;
        letter-spacing: 3px;
    }

    .contact-content {
        display: inline-block;
        width: 66%;
        margin-top: 32px;
    }

    .send {
        width: 100%;
        margin-top: 24px;
        a, input {
            float: right;
            outline: none;
        }
    }

    .call-to-action {
        border: 2px solid #1b1b1b;
    }

    .disabled {
        pointer-events: none;
        background-color: transparent;
        border: 2px solid $yellowHover;
        color: $yellowHover;
    }

    .saving {
        display: initial!important;
    }

    .saving span {
        animation-name: blink;
        animation-duration: 1.4s;
        animation-iteration-count: infinite;
        animation-fill-mode: both;
    }

    .saving span:nth-child(2) {
        animation-delay: .2s;
    }

    .saving span:nth-child(3) {
        animation-delay: .4s;
    }

    @keyframes blink {
        0% {
            opacity: .2;
        }
        20% {
            opacity: 1;
        }
        100% {
            opacity: .2;
        }
    }

    #check, #error {
        position: relative;
    }

    #check svg, #error svg {
        height: 12px;
    }


    input:focus,
    textarea:focus {
        border: 1px solid $yellow;
    }

    input,
    textarea {
        font-size: 14px;
        padding: 12px;
        margin: 0;
        border: 1px solid #fff;
        width: calc(100% - 25px);
        background: none;
    }

    .form {
        width: 100%;
    }
    form p {
        float: left;
        width: calc(50% - 16px);
        margin-top: 32px;
    }
    form p:not(:nth-child(2n)) {
        margin-right: 32px;
    }
    form p:last-child {
        clear: both;
        width: 100%;
    }
    form p:nth-last-child(2) {
        clear: both;
        width: 100%;
    }
    form label {
        display: block;
        margin-bottom: 12px;
    }
}

/*
*********************
Globals
*********************
*/

.center-v {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.call-to-action {
    display: block;
    width: 140px;
    color: $black;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
    padding: 9px;
    border: none;
    background-color: $yellow;
    cursor: pointer;
    &:hover {
        background-color: $yellowHover;
    }
}

/*
*********************
Icons
*********************
*/

.ico-yellow {
    color: $yellow;
}
