---
---

/*
*********************
Global variables
*********************
*/
$frameborder: 13px;
$black: #1b1b1b;
$yellow: #ffcb00;
$yellowHover: #e2b500;
$lightgray: #e5e5e5;
$softgray: #f2f2f2;

@media screen and (max-width: 768px) {

    /*
    *********************
    Frame & container / layout
    *********************
    */
    .main-head, .content, .main-footer {
        margin: 0 $frameborder;
    }
    .main-footer {
        height: $frameborder;
    }
    #home, #web, #mobile, #design, #contact {
        padding: $frameborder;
    }

    /*
    *********************
    Nav-bar
    *********************
    */
    .nav-items {
        .large-menu {
            display: none;
        }
        .small-menu {
            display: block;
        }
        .small-menu {
            display: grid;
            grid-template-columns: auto 60px;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba($color: #000, $alpha: .7);
            ul {
                font-size: 18px;
                line-height: 60px;
                text-align: left;
                text-transform: uppercase;
                padding: 0 32px 64px;
                max-height: 415px;
                background-color: #fff;
                li.turpial {
                    font-size: 28px;
                    line-height: 76px;
                    text-transform: lowercase;
                    text-align: center;
                    border-bottom: 1px solid $lightgray;
                }
            }
            #s-menu {
                height: 60px;
                background: $yellow;
                cursor: pointer;
                span {
                    display: block;
                    position: absolute;
                    height: 5px;
                    width: 25px;
                    top: 26px;
                    right: 18px;
                    background: #fff;
                }
                span:nth-child(1) {
                    transform: rotate(45deg);
                }
                span:nth-child(2) {
                    transform: rotate(-45deg);
                }
            }
        }
    }

    /*
    *********************
    Home Page
    *********************
    */
    #home {
        display: block;
        background-image: url('/img/pages/sm/home.jpg');
        height: initial;
        padding-top: 25vh;
        padding-bottom: 25vh;

        .fly-a, .fly-b, .fly-c {
            display: none;
        }

        .title {
            text-align: center;
            h1 {
                font-size: 14vw;
            }
            h4 {
                font-size: 5vw;
                margin-top: 4vw;
            }
        }

        .call-to-action {
            padding: 2.5vw;
            width: 30vw;
            font-size: 4vw;
            margin: 0 auto;
            margin-top: 8vw;
        }
    }

    /*
    *********************
    Web, Mobile and design Pages
    *********************
    */
    #web, #mobile, #design {
        height: unset;
        margin-bottom: 2.5vw;
        padding-bottom: 10vw;
    }

    #web .title-box,
    #mobile .title-box,
    #design .title-box,
    #design .title-box.design {
        position: absolute;
        bottom: unset;
        right: unset;
        left: unset;
        top: -28.15vw;
        height: unset;
        width: 70vw;
        padding: 2.5vw;
    }
    #design .title-box.design h1 {
        max-width: 46vw;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: " ";
    }

    #web, #mobile, #design {
        .image.web, .image.mobile, .image.design {
            position: relative;
            width: 100%;
            height: 65vw;
            top: unset;
            bottom: unset;
            left: unset;
            right: unset;
        }
    }

    #web .title-box h1,
    #mobile .title-box h1,
    #design .title-box h1 {
        font-size: 16vw;
        margin: 0;
    }
    #web .title-box h2,
    #mobile .title-box h2,
    #design .title-box h2 {
        font-size: 3vw;
        margin: 0;
        font-weight: normal;
    }
    #web .wmd-content,
    #mobile .wmd-content.mobile,
    #design .wmd-content.mobile,
    #design .wmd-content {
        height: unset;
        width: unset;
        position: relative;
        right: unset;
        left: unset;
        top: unset;
    }
    #web .info,
    #mobile .info.mobile,
    #design .info,
    #design .info.mobile {
        margin: 0;
        margin-top: 5vw;
    }
    #web .info h3,
    #mobile .info h3,
    #design .info h3 {
        font-size: 4vw;
        font-weight: normal;
    }
    #web .info p,
    #mobile .info p,
    #design .info p {
        font-size: 2vw;
    }

    /*
    *********************
    Portfolio Page
    *********************
    */
    #portfolio {
        padding: 5vw $frameborder;

        .float-title {
            height: 45vw;
        }

        .float-title .title-imag-box {
            top: 0;
            left: 0;
            width: 55vw;
            height: 34.5vw;
        }

        .float-title .title-titl-box {
            z-index: 1;
            right: 0;
            top: 2.5vw;
            left: 30vw;
            padding: 2vw;
            h1 {
                margin: 0;
                font-size: 16vw;
                line-height: 0.8;
            }
        }

        .float-title .line {
            top: 34.5vw;
            left: 46vw;
        }

        .portfolio-card {
            height: initial;
        }

        .portfolio-card .imag-box {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: unset;
            img {
                width: 100%;
            }
        }

        .portfolio-card .titl-box {
            display: block;
            position: relative;
            width: 70vw;
            margin: 0 auto;
            top: -6vw;
            left: 0;
            h2 {
                font-size: 5vw;
                line-height: 13vw;
            }
        }

        .portfolio-card a:hover > .titl-box {
            top: -6vw;
            background-color: #ffcb00;
        }


        .float-title .title-gray-box, .portfolio-card .line {
            display: none;
        }

        .portfolio-card .title-text-box {
            position: relative;
            top: 0;
            left: 0;
        }

        .portfolio-card .title-text-box h3 {
            font-size: 5vw;
        }

        .portfolio-card .title-text-box p {
            font-size: 3vw;
            line-height: 1;
            margin-top: 2.5vw;
            max-width: 100%;
            width: 100%;
            margin-bottom: 10vw;
        }

        .portfolio-card .title-year-box {
            position: relative;
            right: -20%;
            width: 50%;
            font-size: 30vw;
            top: 10vw;
            font-weight: normal;
            margin: 0;
        }

        .portfolio-card:nth-child(2n) .title-year-box, .portfolio-card:nth-child(1n) .title-year-box {
            right: -20%;
            left: unset;
            margin: 0;
        }
    }

}