---
permalink: /team/
---

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

{% include head.html %}

<style>
    .main-head, .content, .main-footer {
        background-color: #e5e5e5;
    }
    .content {
        margin: 0;
    }
</style>

<body>

    <div class="wrapper">

        <header class="main-head">
            {% include header.html %}
        </header>

        <div class="content">
            <div id="team">

            </div>
        </div>

        <footer class="main-footer">
            {% include footer.html %}
        </footer>

    </div>


</body>

{% include script.html %}

</html>