<section id="aboutus">
    <video autoplay loop id="video-background" muted plays-inline>
        <source src="/img/videos/v4.mp4" type="video/mp4">
    </video>
    <div class="about-content">
        <div>
            <h2>
                {{ section.title }}
            </h2>
            <p>
                {{ section.content }}
            </p>
            <span class="call-to-actions">
                <a href="/team/">{{ section.team-link }}</a>
                <a href="http://blog.turpialdev.com">{{ section.culture-link }}</a>
                <a href="{{ section.jobs-link }}">
                    {{ section.jobs-link-label }}
                </a>
            </span>
        </div>
    </div>
</section>
