<section id="aboutus">
    <div class="about-content">
        <h2>
            Somos
            <br> Turpial
        </h2>
        <p>
            Iniciada por jóvenes emprendedores venezolanos, en Turpial<br>
            trabajamos con empresas y emprendedores en distintas<br>
            partes del continente. Produciendo soluciones en poco<br>
            tiempo con los mejores estándares de usabilidad,<br>
            diseño y funcionalidad.
        </p>
    </div>
    <div class="video-box">
        <div class="video-content">
            <video controls>
                <source src="mov_bbb.mp4" type="video/mp4">
                <source src="mov_bbb.ogg" type="video/ogg"> Your browser does not support HTML5 video.
            </video>
        </div>
        <a href="#" class="meet-us">Conoce nuestro equipo</a>
    </div>
</section>