<section id="contact">
    <div class="contact-offices">
        <div class="address">
            <p>
                <hr>
                20-65, Av. Neverí<br>
                Oficina 09<br>
                Col. Bello Monte, Caracas<br>
                1080 Venezuela<br>
            </p>
        </div>
        <div class="address">
            <p>
                <hr>
                Bogotá<br>
                Oficina 11<br>
                Los Cedritos<br>
                1080 Colombia<br>
            </p>
        </div>
        <div class="address">
            <p>
                <hr>
                20-65, Miami<br>
                Oficina 11<br>
                El Doral<br>
                331145 EEUU<br>
            </p>
        </div>
        <div class="phones-email">
            +58 (212) 754 1283<br>
            +58 (212) 754 1143<br>
            +1  (707) 500 1015<br>
            hola@turpialdev.com<br>
        </div>
    </div>
    <div class="contact-content">
        <span class="contact-title">
            CONTÁCTANOS!
        </span>
        <form action="." id="contact-form">
            <div id="contact-name" class="form-container">
                <label for="name-input">Nombre y Apellido*</label>
                <input type="text" id="name-input" class="form-input">
            </div>
            <div id="contact-phone" class="form-container">
                <label for="phone-input">Teléfono</label>
                <input type="tel" id="phone-input" class="form-input">
            </div>
            <div id="contact-email" class="form-container">
                <label for="email-input">Correo Electrónico*</label>
                <input type="email" id="email-input" class="form-input">
            </div>
            <div id="contact-company" class="form-container">
                <label for="company-company">Nombre de la Compañía</label>
                <input type="text" id="company-company" class="form-input">
            </div>
            <div id="contact-message" class="form-container text-area">
                <label for="message-input">Mensaje*</label>
                <textarea name="message-input" id="message-input" cols="30" rows="10" class="form-input"></textarea>
            </div>
            <div class="form-container send-btn">
                <a href="#">
                    Enviar
                </a>
            </div>
        </form>
    </div>
</section>