<section id="contact">
    <div class="contact-offices">
        hola hola
    </div>
    <div class="contact-content">
        <span class="contact-title">
            CONTACT US!
        </span>
        <form action="." id="contact-form">
            <div id="contact-name" class="form-container">
                <label for="name-input">Full name</label>
                <input type="text" id="name-input" class="form-input">
            </div>
            <div id="contact-email" class="form-container">
                <label for="email-input">Email</label>
                <input type="email" id="email-input" class="form-input">
            </div>
            <div id="contact-message" class="form-container">
                <label for="message-input">Message</label>
                <textarea name="message-input" id="message-input" cols="30" rows="10" class="form-input"></textarea>
            </div>
        </form>
    </div>
</section>