<section id="contact">

    <form class="contact-form" action="http://cake.turpialdos.webfactional.com/email/send.php" id="contact-form" method="post">
        <h2>
            {{ section.title }}
        </h2>
        <div>
            <label for="name-input">{{ section.fullname }} *</label>
            <input type="text" id="name-input">
        </div>
        <div>
            <label for="phone-input">{{ section.phone }}</label>
            <input type="tel" id="phone-input">
        </div>
        <div>
            <label for="email-input">{{ section.email }} *</label>
            <input type="email" id="email-input">
        </div>
        <div>
            <label for="company-input">{{ section.company }}</label>
            <input type="text" id="company-input">
        </div>
        <div>
            <label for="message-input">{{ section.message }} *</label>
            <textarea id="message-input" cols="30" rows="7"></textarea>
        </div>
        <div class="send">
            <a class="call-to-action" type="submit" id="submitbtn">
                <span id="submit">{{ section.send }}</span>
                <span id="dot" style="display: none;">
                    <span>.</span>
                    <span>.</span>
                    <span>.</span>
                </span>
                <span id="check" style="display: none;">
                    <svg fill="#ffcb00" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M9 21.035l-9-8.638 2.791-2.87 6.156 5.874 12.21-12.436 2.843 2.817z" />
                    </svg>
                </span>
                <span id="error" style="display: none;">
                    <svg fill="#ffcb00" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"
                        />
                    </svg>
                </span>
            </a>
        </div>
    </form>

    <div class="contact-offices">
        {% for address in section.addresses %}
        <address class="address">
            {% if address.link %}
            <a class="location" target="_blank" href="{{ address.link }}">
                <i class="material-icons ico-yellow">location_on</i>
            </a>
            {% endif %}
            <hr>
            <p>{{ address.city }}</p>
            <p>{{ address.building }}, {{ address.office }}</p>
            <p>{{ address.zone }}</p>
            <p>{{ address.zipcode }}, {{ address.country }}</p>
        </address>
        {% endfor %}
        <address class="phones-email">
            {% for contact in section.contact-phones %}
            <p>
                <a href="tel:{{ contact.phone-number }}">{{ contact.label }}</a>
            </p>
            {% endfor %}
            <p>
                <a href="mailto:{{ section.contact-mail }}?Subject={{ section.contact-mail-subject }}" target="_top">{{ section.contact-mail }}</a>
            </p>
        </address>

    </div>

</section>
