<section id="home">

    <div class="title">
        <h1 class="typing-line-1">¡Hola!</h1>
        <h1 class="typing-line-2">Somos
            <span>Turpial</span>
        </h1>
        <h1 class="typing-line-3">Turpial</h1>
        <h4>Diseñamos y programamos</h4>
    </div>

    <a href="#web" class="fly-a">
        <span>
            <img src="/img/ico-browser.svg" alt="web">
            <p>Web</p>
        </span>
    </a>
    <a href="#mobile" class="fly-b">
        <span>
            <img src="/img/ico-mobile.svg" alt="Mobile">
            <p>Móvil</p>
        </span>
    </a>
    <a href="#design" class="fly-c">
        <span>
            <img src="/img/ico-pencil.svg" alt="UX/UI Design">
            <p>UX/UI Design</p>
        </span>
    </a>

    <a class="call-to-action" href="mailto:hola@turpialdev.com?Subject=Hola%20Turpial%20Dev" target="_top">
        Conversemos
    </a>

</section>