<section id="home">
    <div class="center-v">
        <div class="title">
            <h2 class="typing-line-1">¡Hola!</h2>
            <h2 class="typing-line-2">Somos Turpial</h2>
        </div>
        <div class="slogan">
            <h4>Diseñamos y programamos</h4>
        </div>
        <div class="call-to-action-btns">
            <a href="#web" class="fly-a">
                <img src="/img/ico-browser.svg" alt="web">
                <p>Web</p>
            </a>
            <a href="#mobile" class="fly-b">
                <img src="/img/ico-mobile.svg" alt="Mobile">
                <p>Móvil</p>
            </a>
            <a href="#design" class="fly-c">
                <img src="/img/ico-pencil.svg" alt="UX/UI Design">
                <p>UX/UI Design</p>
            </a>
        </div>
    </div>
    <div class="call-to-action-footer">
        <a href="#">
            Conversemos
        </a>
    </div>
</section>