<section id="home">
    <div class="center-v">
        <div class="title">
            <h2 class="typing-line-1">¡Hola!</h2>
            <h2 class="typing-line-2">Somos Turpial</h2>
        </div>
        <div class="slogan">
            <h4>Diseñamos y programamos</h4>
        </div>
        <div class="call-to-action-btns">
            <div>
                <img src="" alt="web">
                <p><a href="#">Web</a></p>
            </div>
            <div>
                <img src="" alt="Mobile">
                <p><a href="#">Mobile</a></p>
            </div>
            <div>
                <img src="" alt="UX/UI Design">
                <p><a href="#">UX/UI Design</a></p>
            </div>
        </div>
    </div>
</section>