<section id="mobile">
    <div class="img">
        <picture class="imag-box">
            <source media="(min-width: 1366px)" srcset="/img/pages/xl/mobile.jpg">
            <source media="(min-width: 1025px)" srcset="/img/pages/lg/mobile.jpg">
            <source media="(min-width: 768px)" srcset="/img/pages/md/mobile.jpg">
            <img src="/img/pages/md/mobile.jpg" alt="{{ section.title }}" style="max-width: 100%;">
        </picture>
    </div>
    <div class="tit">
        <h2>{{ section.title }}</h2>
        <h3>{{ section.highlight }}</h3>
    </div>
    <div class="inf">
        <b>{{ section.subtitle }}</b>
        <p>{{ section.content }}</p>
    </div>
</section>