<section id="mobile">
    <div class="image mobile"></div>
    <div class="wmd-content mobile">
        <div class="title-box">
            <h1>MÓVIL</h1>
            <h2>Estar siempre cerca de tus clientes.</h2>
        </div>
        <div class="info mobile">
            <h3>JAPI WEB PAGE 2018</h3>
            <p>
                Hacemos Aplicaciones Web avanzadas y sistemas a la medida que forman parte clave del 
                negocio de nuestros clientes, permitiéndoles a su vez ofrecer novedosos servicios, 
                mejorar procesos y ser más productivos. Si lo tuyo suena a un algo que te ayude en 
                operaciones y ventas, y además empuje contenido a apps móviles, hemos estado allí
                Si eres un emprendedor con una idea, hablamos tu idioma, hagámosla realidad.
            </p>
        </div>
    </div>
</section>