<section id="portfolio">
    <div class="portfolio-container">
        <!-- title -->
        <span class="float-title">
            <div class="title-gray-box"></div>
            <div class="title-titl-box">
                <h1>{{ section.title1 }}
                    <br> {{ section.title2 }}
                </h1>
            </div>
            <div class="title-imag-box"></div>
            <div class="line"></div>
        </span>

        {% assign portfolio=site.portfolio | where:"lang", page.lang %}
        {% for project in portfolio %}
        <span class="portfolio-card">
            <div class="line"></div>
                <a href="{{ project.permalink }}">
                    <picture class="imag-box">
                        <source media="(min-width: 1367px)" srcset="{{ project.sections.detail.image_xl }}">
                        <source media="(min-width: 1025px)" srcset="{{ project.sections.detail.image_lg }}">
                        <source media="(min-width: 769px)" srcset="{{ project.sections.detail.image_md }}">
                        <source media="" srcset="{{ project.sections.detail.image_sm }}">
                        <img src="{{ project.sections.detail.image_sm }}" alt="{{ project.title }}">
                    </picture>
                    <div class="titl-box">
                        <h2>{{ project.title }}</h2>
                    </div>
                </a>
            <div class="title-year-box">
                {{ project.date | date: "%Y"}}
            </div>
            <div class="title-text-box">
                <h3>{{ project.title }}</h3>
                <p>{{ project.description }}<p>
            </div>
        </span>
        {% endfor %}
    </div>
</section>