<section id="portafolio">
    <div class="container">
        <div class="row-1">
            <div class="col-1">
                <img src="img/StockSnap.jpg"></img>
            </div>
            <div class="col-2">
                <div class="portafolio-content">
                    <h2>
                        <br> Porta
                        <br> folio
                    </h2>
                </div>
            </div>
        </div>
        <div class="row-2">
        <hr class="line-grey-1">
            <div class="col-3">
                <div class="portafolio-content-p-1">
                    <h2>
                        <br> 2018
                    </h2>
                </div>
                <div class="portafolio-content-p-2">
                    <h2>
                        <br> PÁGINA INFORMATIVA 
                    </h2>
                    <p>
                        Es un hecho establecido hace demasiado tiempo que 
                        un lector se distraerá con el contenido del texto.
                    </p>
                </div>
            </div>
            <div class="col-4">
                <img src="img/Principal-4.jpg"/>
                <div class="content-grey-1">
                    <div class="portafolio-content-p-3">
                        <p> Mastrantos web page </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row-3">
            <div class="col-5">
                <img src="img/W-Servicios.jpg"/>
                <div class="content-grey-1">
                    <div class="portafolio-content-p-3">
                        <p> WIDU LEGAL web page </p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="portafolio-content-p-4">
                    <h2>
                        <br> 2017
                    </h2>
                </div>
                <div class="portafolio-content-p-5">
                    <h2>
                        <br> PÁGINA INFORMATIVA 
                    </h2>
                    <p>
                        Es un hecho establecido hace demasiado tiempo que 
                        un lector se distraerá con el contenido del texto.
                    </p>
                </div>
            </div>
            <hr class="line-grey-2">
        </div>
        <div class="row-4">
            <div class="col-7">
                <div class="portafolio-content-p-1">
                    <h2>
                        <br> 2016
                    </h2>
                </div>
                <div class="portafolio-content-p-2">
                    <h2>
                        <br> PÁGINA INFORMATIVA 
                    </h2>
                    <p>
                        Es un hecho establecido hace demasiado tiempo que 
                        un lector se distraerá con el contenido del texto.
                    </p>
                </div>
            </div>
            <div class="col-8">
                <img src="img/Landing.jpg"/>
                <div class="content-grey-1">
                    <div class="portafolio-content-p-3">
                        <p>TIDBIT Mobile app</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-5">
            <div class="col-5">
                <img src="img/0-Registrarme.jpg"/>
                <div class="content-grey-1">
                    <div class="portafolio-content-p-3">
                        <p> Steam Energy web page </p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="portafolio-content-p-4">
                    <h2>
                        <br> 2016
                    </h2>
                </div>
                <div class="portafolio-content-p-5">
                    <h2>
                        <br> PÁGINA INFORMATIVA 
                    </h2>
                    <p>
                        Es un hecho establecido hace demasiado tiempo que 
                        un lector se distraerá con el contenido del texto.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>