<section id="portfolio">

    <!-- title -->
    <span class="float-title">
        <div class="title-gray-box"></div>
        <div class="title-titl-box">
            <h1>Porta
                <br> folio
            </h1>
        </div>
        <div class="title-imag-box"></div>
        <div class="line"></div>
    </span>

    <!-- 1 float: right -->
    <span class="portfolio-card">
        <div class="line"></div>

        <a href="#">
            <div class="imag-box img-widu"></div>
            <div class="titl-box">
                <h2>Widu Legal web page</h2>
            </div>
        </a>

        <div class="title-year-box">
            2017
        </div>
        <div class="title-text-box">
            <h3>Página informativa</h3>
            <p>Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto...
                <p>
        </div>
    </span>

    <!-- 2 float: left -->
    <span class="portfolio-card">
        <div class="line"></div>

        <a href="#">
            <div class="imag-box img-tibit"></div>
            <div class="titl-box">
                <h2>Tibit Mobile App</h2>
            </div>
        </a>

        <div class="title-year-box">
            2016
        </div>
        <div class="title-text-box">
            <h3>Página informativa</h3>
            <p>Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto...
                <p>
        </div>
    </span>

    <!-- 3 float: right -->
    <span class="portfolio-card">
        <div class="line"></div>

        <a href="#">
            <div class="imag-box img-iucn"></div>
            <div class="titl-box">
                <h2>IUCN web page</h2>
            </div>
        </a>

        <div class="title-year-box">
            2016
        </div>
        <div class="title-text-box">
            <h3>Página informativa</h3>
            <p>Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto...
                <p>
        </div>
    </span>

    <!-- 4 float: left -->
    <span class="portfolio-card">
        <div class="line"></div>

        <a href="#">
            <div class="imag-box img-tintaleo"></div>
            <div class="titl-box">
                <h2>Tintaleo</h2>
            </div>
        </a>

        <div class="title-year-box">
            2016
        </div>
        <div class="title-text-box">
            <h3>Página informativa</h3>
            <p>Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto...
                <p>
        </div>
    </span>

    <!-- 5 float: right -->
    <span class="portfolio-card">
        <div class="line"></div>

        <a href="#">
            <div class="imag-box img-airways"></div>
            <div class="titl-box">
                <h2>Airways</h2>
            </div>
        </a>
        <div class="title-year-box">
            2016
        </div>
        <div class="title-text-box">
            <h3>Página informativa</h3>
            <p>Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto...
                <p>
        </div>
    </span>

    <!-- 6 float: left -->
    <span class="portfolio-card">
        <div class="line"></div>

        <a href="#">
            <div class="imag-box img-citimarine"></div>
            <div class="titl-box">
                <h2>Citimarine</h2>
            </div>
        </a>

        <div class="title-year-box">
            2016
        </div>
        <div class="title-text-box">
            <h3>Página informativa</h3>
            <p>Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto...
                <p>
        </div>
    </span>

</section>