<section id="portfolio">

    <!-- title -->
    <span class="float-title">
        <div class="title-gray-box"></div>
        <div class="title-titl-box">
            <h1>Porta
                <br> folio
            </h1>
        </div>
        <div class="title-imag-box"></div>
        <div class="line"></div>
    </span>

    <!-- 1 float: right -->
    <span class="float-container-right">
        <div class="line"></div>

        <div class="imag-box img-1"></div>
        <div class="titl-box">
            <h2>Mastrantos web page</h2>
        </div>

        <div class="title-year-box">
            2017
        </div>
        <div class="title-text-box">
            <h3>Página informativa</h3>
            <p>Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto...
                <p>
        </div>
    </span>

    <!-- 2 float: left -->
    <span class="float-container-left">
        <div class="line"></div>

        <div class="imag-box img-2"></div>
        <div class="titl-box">
            <h2>WIDU LEGAL web page</h2>
        </div>

        <div class="title-year-box">
            2016
        </div>
        <div class="title-text-box">
            <h3>Página informativa</h3>
            <p>Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto...
                <p>
        </div>
    </span>

    <!-- 3 float: right -->
    <span class="float-container-right">
        <div class="line"></div>

        <div class="imag-box img-3"></div>
        <div class="titl-box">
            <h2>TIDBIT Mobile app</h2>
        </div>

        <div class="title-year-box">
            2016
        </div>
        <div class="title-text-box">
            <h3>Página informativa</h3>
            <p>Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto...
                <p>
        </div>
    </span>

    <!-- 4 float: left -->
    <span class="float-container-left">
        <div class="line"></div>

        <div class="imag-box img-4"></div>
        <div class="titl-box">
            <h2>Steam Energy web page</h2>
        </div>

        <div class="title-year-box">
            2016
        </div>
        <div class="title-text-box">
            <h3>Página informativa</h3>
            <p>Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto...
                <p>
        </div>
    </span>

</section>