<nav>
    <div class="nav-logo">
        <img src="/img/logo-turpial.png" alt="Turpial Development Logo">
    </div>
    <div class="nav-btn" id="menuBtn">
        <div class="bar1" id="bar1"></div>
        <div class="bar2" id="bar2"></div>
        <div class="bar3" id="bar3"></div>
    </div>
    <div class="nav-items">
        <span id="menuItems" class="hideMenu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#contact">Contact us</a></li>
            </ul>
        </span>
    </div>
</nav>