<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

{% include head.html %}

<body>

    <section id="portfolioDetail">
        <div class="dissmiss-btn" onclick="onDismissDetail()">
            <span></span>
            <span></span>
        </div>

        <div class="detail-content">

            <!-- PROJECT DETAIL DESCRIPTION -->
            <div class="detail-project">
                <h2>Proyecto</h2>
                <div class="imag">
                    <img src="" alt="">
                </div>
                <div class="text">
                    <b>Lorem ipsum dolor</b>
                    <p>
                        Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto Es un hecho establecido
                        hace demasiado tiempo que un lector se distraerá con elcontenido del texto.
                    </p>
                </div>
                <div class="case">
                    <p>
                        Sabías que.. en este proyecto utilizamos la tecnología ‘Lorem ipsum” para tal cosa texto aqui lorem ipsum para tal cosa texto
                        aqui lorem ipsum.
                    </p>
                </div>
                <div class="show-case-1">
                    <span></span>
                    Lorem ipsum dolor
                </div>
                <div class="show-case-2">
                    <span></span>
                    Lorem ipsum dolor
                </div>
            </div>


            <!-- PROJECT DETAIL FIRTS STEPS -->
            <div class="detail-steps">
                <h2>Primeros pasos</h2>
                <div class="imag">
                    <div>
                        <img src="" alt="">
                    </div>
                    <p>Loreim ipsum dolor</p>
                </div>
                <div class="text">
                    <b>Lorem ipsum dolor</b>
                    <p>
                        Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto Es un hecho establecido
                        hace demasiado tiempo que un lector se distraerá con elcontenido del texto.
                    </p>
                </div>
                <div class="case">
                    <p>
                        Sabías que.. en este proyecto utilizamos la tecnología ‘Lorem ipsum” para tal cosa texto aqui lorem ipsum para tal cosa texto
                        aqui lorem ipsum.
                    </p>
                </div>
            </div>

            <!-- PROJECT DETAIL DESIGN -->
            <div class="detail-design">
                    <h2>
                        Diseno por
                        <br> principios
                    </h2>
                <div class="list">
                    <div class="num1">
                        01
                    </div>
                    <div class="num2">
                        02
                    </div>
                    <div class="num3">
                        03
                    </div>
                    <div class="txt1">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus voluptatum nemo vel reprehenderit cumque maxime perferendis.
                        Obcaecati delectus quia non laudantium porro, dicta quae autem nobis iusto ut harum sint!
                    </div>
                    <div class="txt2">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus voluptatum nemo vel reprehenderit cumque maxime perferendis.
                    </div>
                    <div class="txt3">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus voluptatum nemo vel reprehenderit cumque maxime perferendis.
                        Obcaecati delectus quia non laudantium porro.
                    </div>
                </div>
            </div>

            <!-- PROJECT DETAIL TECHNOLOGIES 
                    <div class="detail-tech">
                        <h2>Tech</h2>
                    </div>-->

            <!-- PROJECT DETAIL RESULT 
                    <div class="detail-result">
                        <h2>Result</h2>
                    </div>-->

            <!-- PROJECT DETAIL FOOTER -->
            <div class="detail-footer">
                <div>
                    <h3>You already know how we work</h3>
                    <p>Start working with us</p>
                </div>
                <div>
                    <a href="mailto:hola@turpialdev.com?Subject=Hola%20Turpial%20Dev" target="_top">hola@turpialdev.com</a>
                    <a href="tel:+582127541143">+58 (212) 754 1143</a>
                </div>
                <div>
                    Let's work together
                </div>
            </div>
        </div>
    </section>

</body>

<script>
    function onDismissDetail() {
        window.location.href = "/#portfolio";
    }
</script> {% include script.html %}

</html>