<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

{% include head.html %}

<body>

    <section id="portfolioDetail">
        <div class="dissmiss-btn" onclick="onDismissDetail()">
            <span></span>
            <span></span>
        </div>

        <div class="detail-content">

            <!-- PROJECT DETAIL DESCRIPTION -->
            <div class="detail-project">
                <h2>Proyecto</h2>
                <div class="imag">
                    <img src="" alt="">
                </div>
                <div class="text">
                    <b>Lorem ipsum dolor</b>
                    <p>
                        Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto Es un hecho establecido
                        hace demasiado tiempo que un lector se distraerá con elcontenido del texto.
                    </p>
                </div>
                <div class="rela">
                    <p>
                        Sabías que.. en este proyecto utilizamos la tecnología ‘Lorem ipsum” para tal cosa texto aqui lorem ipsum para tal cosa texto
                        aqui lorem ipsum.
                    </p>
                </div>
                <div class="show-case-1">
                    <span></span>
                    Lorem ipsum dolor
                </div>
                <div class="show-case-2">
                    <span></span>
                    Lorem ipsum dolor
                </div>
            </div>


            <!-- PROJECT DETAIL FIRTS STEPS 
                    <div class="detail-steps">
                        <h2>Steps</h2>
                    </div>-->

            <!-- PROJECT DETAIL DESIGN 
                    <div class="detail-design">
                        <h2>Design</h2>
                    </div>-->

            <!-- PROJECT DETAIL TECHNOLOGIES 
                    <div class="detail-tech">
                        <h2>Tech</h2>
                    </div>-->

            <!-- PROJECT DETAIL RESULT 
                    <div class="detail-result">
                        <h2>Result</h2>
                    </div>-->

            <!-- PROJECT DETAIL FOOTER -->
            <div class="detail-footer">
                <div>
                    <h3>You already know how we work</h3>
                    <p>Start working with us</p>
                </div>
                <div>
                    <a href="mailto:hola@turpialdev.com?Subject=Hola%20Turpial%20Dev" target="_top">hola@turpialdev.com</a>
                    <a href="tel:+582127541143">+58 (212) 754 1143</a>
                </div>
                <div>
                    Let's work together
                </div>
            </div>
        </div>
    </section>

</body>

<script>
    function onDismissDetail() {
        window.location.href = "/";
    }
</script> {% include script.html %}

</html>