<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

{% include head.html %}

<style>
    .main-head,
    .content,
    .main-footer {
        background-color: #fff;
    }

    .content {
        margin: 0;
    }
</style>

<body>

    <div class="wrapper">

        <header class="main-head">
            {% include header.html %}
        </header>

        <div class="content">
            <div class="team">

                <section id="grid" style="width: calc(16vw * ({{ page.gridSize }} / 2) + 52px">
                    {% for element in page.elements %}

                    <div class="{{ element.template }} {{ element.span }}">

                        {% if element.template == 'title' %}
                        <div>
                            <h1>{{ element.title }}</h1>
                            <p>{{ element.text }}</p>
                        </div>
                        {% endif %}

                        {% if element.template != 'title' %}
                        <p>{{ element.text }}</p>
                            {% if element.title %}
                            <h2>{{ element.title }}</h2>
                            {% endif %}
                        {% endif %}
                        
                        {% if element.button %}
                        <a class="call-to-action" href="{{ element.url }}">{{ element.button }}</a>
                        {% endif %}
                        
                        {% if element.name %}
                        <b>{{ element.name }}</b>
                        {% endif %}
                        
                        {% if element.image %}
                        <img src="{{ element.image }}" alt="{{ element.name }}">
                        {% endif %}
                    </div>

                    {% endfor %}
                </section>


            </div>
        </div>

        <footer class="main-footer">
            {% include footer.html %}
        </footer>

    </div>


</body>

{% include script.html %}

</html>

<!-- width: calc(25vw * ({{ page.sections.design | size }} / 2) + 52px" -->